/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: 'Open Sans', arial, sans-serif;
  color: rgb(98, 185, 90);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(98, 185, 90);
  color: #90ddeb;
  display: flex;
  height: 80px;
  width: 100vw;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav link {
  display: flex;
  flex-direction: row;
}

nav a {
  text-align: center;
  color: #f7f3f3;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: rgb(108, 199, 143);
}

form label {
  display: flex;
  flex-direction: column;
  align-items: left;
}

input {
  width: 380px;
}

img {
  width: 100vw;
}
