/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #ffffff);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "Open Sans", arial, sans-serif;
  color: rgb(98, 185, 90);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(98, 185, 90);
  color: #90ddeb;
  display: flex;
  height: 80px;
  width: 100vw;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav link {
  display: flex;
  flex-direction: row;
}

nav a {
  text-align: center;
  color: #f7f3f3;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: rgb(108, 199, 143);
}

form label {
  display: flex;
  flex-direction: column;
  align-items: left;
}

input {
  width: 380px;
}

.imgHome {
  width: 100vw;
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productListContainer ul li {
  height: 5vh;
  margin-left: 0;
  margin-right: 0;
  width: 15vw;
  display: inline-block;
}

#productTitle {
  display: flex;
  justify-content: center;
  padding: 20;
  margin: 0;
  margin-top: 20;
  font-family: "Open Sans", arial, sans-serif;
  color: rgb(98, 185, 90);
  position: relative;
  top: 75px;
  bottom: 75px;
}

.note {
  display: flex;
  justify-content: center;
  color: rgb(98, 185, 90);
  position: relative;
  top: 75px;
  bottom: 75px;
}

.imgProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  width: 250px;
  height: 250px;
  vertical-align: center;
  display: inline-block;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  padding: 10;
  margin-left: 10;
  margin-right: 10;
  position: relative;
  top: 150px;
  bottom: 150;
  outline: 1px solid coral;
  text-align: justify;
}

ul li {
  display: inline-block;
}

.prodButton {
  display: inline-block;
  flex-direction: row;
  align-content: space-around;
  position: relative;
  margin-left: 25px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#customerTitle {
  display: flex;
  justify-content: center;
  padding: 20;
  margin: 0;
  margin-top: 20;
  font-family: "Open Sans", arial, sans-serif;
  color: rgb(98, 185, 90);
  position: relative;
  top: 75px;
  bottom: 75px;
}

#customerNote {
  display: flex;
  justify-content: center;
  color: rgb(98, 185, 90);
  position: relative;
  top: 75px;
  bottom: 75px;
}

.customerListContainer li {
  height: 5vh;
  margin-left: 0;
  margin-right: 0;
  width: 15vw;
  display: inline-block;
  position: relative;
  top: 150px;
}

.customerButton {
  height: 5vh;
  margin-left: 0;
  margin-right: 0;
  width: 10vw;
  display: inline-block;
  position: relative;
  margin-left: 25px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  top: 150px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  padding: 10;
  margin-left: 10;
  margin-right: 10;
  position: relative;
  top: 150px;
  bottom: 150;
  text-align: justify;
}

#description {
  height: 75px;
}

#address {
  height: 50px;
}

#order {
  height: 75px;
}

#clientsPage {
  padding: 0;
  margin-left: 10;
  margin-right: 10;
  position: relative;
  top: 100px;
  bottom: 100px;
  opacity: 1;
}

#clientsPage:hover {
  opacity: 0.5;
}

#allProductsImg {
  padding: 0;
  margin-left: 10;
  margin-right: 10;
  position: relative;
  top: 20px;
  bottom: 100px;
}

table {
  padding: 60px;
  color: black;
  font-size: 20px;
  border: 1px solid black;
  background-color: #fff0f5;
  width: 100%;
}

th {
  height: 50px;
  border: 1px solid black;
}

tr td {
  border: 1px solid black;
}

td {
  text-align: center;
}

.singleProduct {
  padding: 0;
  margin-left: 10;
  margin-right: 10;
  position: relative;
  top: 15px;
  bottom: 100px;
}

.selectedProduct {
  display: flex;
  justify-content: left;
  color: rgb(98, 185, 90);
  position: relative;
  top: 20px;
  bottom: 20px;
}

.singleImg {
  width: 50vw;
  height: 50vw;
}

.singleName {
  display: flex;
  padding: 50;
  color: solid coral;
}

#date {
  height: 50px;
  border: 1px solid black;
  width: 100%;
}
